<p style="color: green"><%= flash[:notice] %></p>

<%= link_to 'New todo', new_todo_path %>

<ul id="todos">
<% for todo in @todos %>
  <% content_tag_for :li, todo do %>
    <span class="handle">[drag]</span>
    <span><%= h(todo.title) %></span>
    <span><%= link_to 'Show', todo %></span>
    <span><%= link_to 'Edit', edit_todo_path(todo) %></span>
    <span><%= link_to 'Destroy', todo, :confirm => 'Are you sure?', :method => :delete %></span>
    <span><%= todo.complete ? "✓" : link_to("&#9744;", :action => "complete", :id => todo.id, :method => :put) %></span>
  <% end %>
<% end %>
</ul>
<%= sortable_element("todos", :url => sort_todos_path, :handle => "handle") %>
